<div data-controller="channels--character">
  <%= render(PathfinderShow::DrawerComponent.new) %>
  <%= render(SideBarComponent.new) %>
  <div class="z-0 pt-8 pb-96 md:pt-0 md:w-10/12 md:mx-auto text-black dark:text-gray-200">
    <%= render(PathfinderShow::BasicsComponent.new(character: @character)) %>
    <%= render(PathfinderShow::StatisticsComponent.new(character: @character)) %>
    <%= render(PathfinderShow::EquipamentComponent.new(character: @character)) %>
    <%= render(PathfinderShow::DefenseComponent.new(character: @character)) %>
    <%= render(PathfinderShow::OffenseComponent.new(character: @character)) %>
    <%= render(PathfinderShow::SkillsComponent.new(character: @character)) %>
    <%= render(PathfinderShow::SpellsComponent.new(character: @character)) %>
    <%= render(PathfinderShow::NotesComponent.new(character: @character)) %>
  </div>
</div>
