<%= stylesheet_link_tag "tv/dice-box" %>

<div id="form" class="position-absolute top-50 start-50 translate-middle text-bg-light p-3 rounded" style="z-index: 999;">
	<div id="form-error"></div>
	<%= form_with url: sign_up_campaign_tv_path do |form| %>
		<div class="mb-3">
			<%= form.label :unique_name, t(:"server name"), class:"form-label"%>
			<%= form.text_field :unique_name, class: "form-control" %>
		</div>

		<div class="mb-3">
			<%= form.label :password, t(:password), class:"form-label" %>
			<%= form.password_field :password, class: "form-control" %>
		</div>
		<div class="text-end">
			<%= form.submit t(:connect), class: "btn btn-primary" %>
		</div>
	<% end %>
</div>

<div id="chat" class="position-absolute bottom-0 start-0 bg-light rounded overflow-auto px-4 py-2"></div>
<div id="dice-box" class="shadow"></div>
	
<%= javascript_include_tag "channels/tv_channel", type: :module, crossorigin: "anonymous" %>
<%= javascript_include_tag "dice", type: :module, crossorigin: "anonymous" %>