<h1>CampaignPlayer</h1>

<%= form_with do |form| %>
	<%= form.label :name_server %>
	<%= form.text_field :name_server %>

	<%= form.label "Password", :password %>
	<%= form.text_field :password %>

	<%= form.label :character %>
	<%= form.select :character, @characters.map { |ca| [ca.name, ca.id]}, {}, class: "form-control" %>

	<%= form.submit "Connect Server" %>
<% end %>

