<%= render(CardComponent.new(
  title: "basics",
  svg: "M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z",
  tabs: ["character", "ancestry", "senses", "dices", "image"]
)) do %>
  <div id="basicsTabContent">
    <%= render(CardTabComponent.new(tab: "character", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "Details",
        form: @form,
        fields_for: :pathfinder_basic,
        forms: [
          grid: [
            {
              name: :name,
              type: :text
            },
            {
              name: :class_name,
              type: :text
            },
            {
              name: :key_ability,
              type: :select,
              array: abilities
            },
            {
              name: :background,
              type: :text
            },
            {
              name: :alignment,
              type: :select,
              array: alignment
            },
            {
              name: :deity,
              type: :text
            },
            {
              name: :age,
              type: :number
            },
            {
              name: :level,
              type: :number,
              data: {"action":"change->edit-character--event-trigger#updateMaxHp"}
            },
            {
              name: :hero_points,
              type: :number
            },
            {
              name: :size,
              type: :text
            },
            {
              name: :speed,
              type: :text
            },
            {
              name: :speed_note,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            },
            {
              name: :description,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]
        ]
      ))%>
    <% end %>

    <%= render(CardTabComponent.new(tab: "ancestry", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Ancestry",
        form: @form,
        fields_for: :pathfinder_basic,
        forms: [
          grid: [
            {
              name: :ancestry,
              type: :text
            },
            {
              name: :heritage,
              type: :text
            },
            {
              name: :heritage_note,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            },
          ]
        ]
      ))%>
    <% end %>

    <%= render(CardTabComponent.new(tab: "senses", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Senses",
        form: @form,
        fields_for: :pathfinder_perception,
        forms: [
          grid: [
            {
              name: :senses,
              type: :text
            },
            {
              name: :proficiency,
              type: :select,
              array: proficiencies
            },
            {
              name: :item,
              type: :number
            },
          ]
        ]
      ))%>
    <% end %>

    <%= render(CardTabComponent.new(tab: "dices", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Macro",
        main_id: "body-dices",
        item_id: "dices-",
        data: {
          "controller": "edit-character--macros",
        },
        form: @form,
        fields_for: :dices,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--macros#addDice",
            "edit-character--macros-count-param": @character.dices.count
          }
        },
        forms: [
          flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--macros#removeDice",
                "edit-character--macros-id-param": true,
              },
              class_div: delete_item,
            }
          ],
          grid: [
            {
              name: :notation,
              type: :text,
              class_div: "mm:col-span-2 md:col-span-3"
            },
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]
        ]
      ))%>
    <% end %>

    <div data-controller="edit-character--cropper">
      <%= render(CardTabComponent.new(tab: "image", hidden: true)) do %>

        <%= @form.text_field :image, class: "hidden", "data-edit-character--cropper-target":"image_base64_input" %>

        <div class="p-6 text-sm text-gray-900 dark:text-gray-300">
          <label class="block mb-2 font-medium" for="file_input">Upload image</label>
          <input class="block w-full bg-gray-50 rounded-lg border border-gray-300 cursor-pointer focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file" accept="image/*" data-action="change->edit-character--cropper#changeImage" data-edit-character--cropper-target="image_input">
        </div>

        <div class="p-6">
          <div class="mx-auto w-96 h-96">
            <img class="min-w-full rounded-full" src="<%= url_for(@character.character_image) if @character.character_image.attached? %>" data-edit-character--cropper-target="character_image" data-action="ready->edit-character--cropper#setBase64 cropend->edit-character--cropper#setBase64 zoom->edit-character--cropper#setBase64">
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>