<%= render(CardComponent.new(
  title: "defense",
  svg: "M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976z",
  tabs: ["hp", "armor-class", "saving-throw"]
)) do %>
  <div id="defensesTabContent" class="text-sm text-gray-900 dark:text-gray-300">
    <%= render(CardTabComponent.new(tab: "hp", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "HP",
        data: {
          "controller":"edit-character--hp",
          "edit-character--event-trigger-target":"hp"
        },
        form: @form,
        fields_for: :pathfinder_defense,
        forms: [
          flex: [
            {
              name: :max_hp,
              type: :number,
              surname: "Max",
              read_only: true,
              data: {
                "edit-character--hp-target":"max_hp"
              },
            },
            {
              name: :current_hp,
              type: :number,
              surname: "Current",
              read_only: true,
              data: {
                "edit-character--hp-target":"current_hp"
              }
            },
            {
              name: :ancestry_hp,
              type: :number,
              surname: "Ancestry",
              data: {
                "edit-character--hp-target":"ancestry_hp",
                "action":"change->edit-character--hp#updateMaxHp",
                "tooltip-target":"tooltip-animation"
              }
            },
            {
              name: :class_hp,
              type: :number,
              surname: "Class",
              data: {
                "edit-character--hp-target":"class_hp",
                "action":"change->edit-character--hp#updateMaxHp"
              }
            },
            {
              name: :temp_hp,
              type: :number,
              surname: "Temp"
            }
          ],
          grid: [
            {
              name: :dying,
              type: :number
            },
            {
              name: :wounded,
              type: :number
            },
            {
              name: :resistances_and_immunities,
              type: :text,
              class_div: "mm:col-span-2 md:col-span-3"
            },
            {
              name: :conditions,
              type: :text,
              class_div: "mm:col-span-2 md:col-span-3"
            },
          ]
        ]
      ))%>
      <!-- Ancestry -->
      <div id="tooltip-animation" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
        Only base health is needed, rest will be calculated according to your level and constitution.
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    <% end %>
    <%= render(CardTabComponent.new(tab: "armor-class", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Armor class",
        data: {
          "controller":"edit-character--hp",
          "edit-character--event-trigger-target":"hp"
        },
        form: @form,
        fields_for: :pathfinder_defense,
        forms: [
          grid: [
            {
              name: :armor_class_item,
              type: :number,
              surname: "Item"
            },
            {
              name: :max_dex,
              type: :number,
              surname: "Cap"
            },
          ],
          flex: [
            {
              name: :unarmored_proficiency,
              type: :select,
              array: proficiencies
            },
            {
              name: :light_proficiency,
              type: :select,
              array: proficiencies
            },
            {
              name: :medium_proficiency,
              type: :select,
              array: proficiencies
            },
            {
              name: :heavy_proficiency,
              type: :select,
              array: proficiencies
            },
          ]
        ]
      ))%>
    <% end %>
    <div data-controller="edit-character--saving-throw" data-edit-character--event-trigger-target="saving_throw">
      <%= render(CardTabComponent.new(tab: "saving-throw", hidden: true)) do %>
        <% ["Fortitude", "Reflex", "Will"].each do |name| %>
          <% name_downcase = name.downcase %>
          <%= render(Form::BoxComponent.new(title: name,
            data: {
              "action":"change->edit-character--saving-throw#update#{name}"
            },
            form: @form,
            fields_for: :pathfinder_saving_throw,
            forms: [
              flex: [
                {
                  name: "#{name_downcase}_total".to_sym,
                  type: :number,
                  surname: "Total",
                  read_only: true,
                  data: {"edit-character--saving-throw-target":"#{name_downcase}_total"},
                },
                {
                  name: "#{name_downcase}_proficiency".to_sym,
                  type: :select,
                  surname: "Proficiency",
                  data: {"edit-character--saving-throw-target":"#{name_downcase}_proficiency"},
                  array: proficiencies
                },
                {
                  name: "#{name_downcase}_item".to_sym,
                  type: :number,
                  surname: "Item",
                  data: {"edit-character--saving-throw-target":"#{name_downcase}_item"}
                },
                {
                  name: "#{name_downcase}_misc".to_sym,
                  type: :number,
                  surname: "Misc",
                  data: {"edit-character--saving-throw-target":"#{name_downcase}_misc"}
                },
                {
                  name: "#{name_downcase}_penalty".to_sym,
                  type: :number,
                  surname: "Penalty",
                  data: {"edit-character--saving-throw-target":"#{name_downcase}_penalty"}
                },
              ]
            ]
          ))%>
        <% end %>
        <%= render(Form::BoxComponent.new(title: "Notes",
          form: @form,
          fields_for: :pathfinder_saving_throw,
          forms: [
            grid: [
              {
                name: :saving_throw_notes,
                type: :area,
                class_div: "mm:col-span-2 md:col-span-3"
              },
            ]
          ]
        ))%>
      <% end %>
    </div>
  </div>
<% end %>
