<%= render(CardComponent.new(
  title: "equipament",
  svg: "M9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3z",
  tabs: ["items", "money"]
)) do %>
  <div id="equipamentsTabContent">
    <%= render(CardTabComponent.new(tab: "items", hidden: false)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Items
        </div>
        <div id="body-items" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_items.count %>"
            data-edit-character--item-name-param="items">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_items do |form_items| %>
          <div id="items-<%= form_items.index %>">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_items,
                name: :name,
                rounded: :left
              ))%>
              
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_items,
                name: :quatity,
                rounded: :none,
                form_type: :number
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_items,
                name: :volume,
                rounded: :none,
                form_type: :number
              ))%>
              <div>
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_items.index %>"
                data-edit-character--item-name-param="items">
                  -
                </div>
              </div>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_items,
              name: :notes,
              form_type: :area
            ))%>
            <%= form_items.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "money", hidden: true)) do %>
      <%= @form.fields_for :pathfinder_money do |form_money| %>
        <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
          <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
            Money
          </div>
          <div class="w-full">
            <div class="flex" data-controller="edit-character--money" data-action="change->edit-character--money#updateMoney">
              <div class="flex-1">
                <label class="<%= normal_label %>">Total</label>
                <input id="money-total" type="text" name="total" class="<%= rounded_left %> <%= normal_field %> <%= read_only %>" readonly value="0" >
              </div>
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_money,
                name: :copper,
                form_type: :number,
                rounded: :none,
                class_div: "flex-1"
              ))%>
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_money,
                name: :silver,
                form_type: :number,
                rounded: :none,
                class_div: "flex-1"
              ))%>
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_money,
                name: :gold,
                form_type: :number,
                rounded: :none,
                class_div: "flex-1"
              ))%>
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_money,
                name: :platinum,
                form_type: :number,
                rounded: :right,
                class_div: "flex-1"
              ))%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

