<%= render(CardComponent.new(
  title: "equipament",
  svg: "M9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3z",
  tabs: ["items", "money"]
)) do %>
  <div id="equipamentsTabContent">
    <%= render(CardTabComponent.new(tab: "items", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "Items",
        main_id: "body-items",
        item_id: "items-",
        form: @form,
        fields_for: :pathfinder_items,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_items.count,
            "edit-character--item-name-param":"items"
          }
        },
        forms: [
          flex: [
            {
              name: :name,
              type: :text
            },
            {
              name: :quatity,
              type: :number
            },
            {
              name: :volume,
              type: :number
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"items"
              },
              class_div: delete_item,
            }
          ],
          grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "money", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Money",
        data: {
          "controller": "edit-character--money",
          action: "change->edit-character--money#updateMoney"
        },
        form: @form,
        fields_for: :pathfinder_money,
        forms: [
          flex: [
            {
              name: :copper,
              type: :number
            },
            {
              name: :silver,
              type: :number
            },
            {
              name: :gold,
              type: :number
            },
            {
              name: :platinum,
              type: :number
            }
          ]
        ]
      ))%>
    <% end %>
  </div>
<% end %>
