<%= render(CardComponent.new(
  title: "offense",
  svg: "M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z",
  tabs: ["weapon-proficiency", "melee", "ranged"]
)) do %>
  <div id="offensesTabContent">
    <%= render(CardTabComponent.new(tab: "weapon-proficiency", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "Weapon Proficiency",
        main_id: "body-weapon_proficiencies",
        item_id: "weapon_proficiencies-",
        form: @form,
        fields_for: :pathfinder_weapon_proficiencies,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_weapon_proficiencies.count,
            "edit-character--item-name-param":"weapon_proficiencies"
          }
        },
        forms: [
          flex: [
            {
              name: :name,
              type: :text
            },
            {
              name: :proficiency,
              type: :select,
              array: proficiencies
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"weapon_proficiencies"
              },
              class_div: delete_item,
            }
          ]
        ]
      ))%>
    <% end %>
    <% ["melee", "ranged"].each_with_index do |name, i| %>
      <% grid = [
        {
          name: :other,
          type: :text,
          class_div: "mm:col-span-2 md:col-span-3"
        },
        {
          name: :traits,
          type: :text,
          class_div: "mm:col-span-2 md:col-span-3"
        },
        {
          name: :notes,
          type: :area,
          class_div: "mm:col-span-2 md:col-span-3"
        }
      ]
      %>
      <% grid.unshift({name: :special, type: :number}) if i == 1 %>
      <% name_pluralize = name.pluralize%>
      <%= render(CardTabComponent.new(tab: name, hidden: true)) do %>
        <%= render(Form::BoxComponent.new(title: name_pluralize.capitalize,
          main_id: "body-#{name_pluralize}",
          item_id: "#{name_pluralize}-",
          form: @form,
          fields_for: "pathfinder_#{name_pluralize}".to_sym,
          add: {
            class_div: add_item,
            data: {
              "action":"click->edit-character--item#add",
              "edit-character--item-count-param": i == 0 ? @character.pathfinder_melees.count : @character.pathfinder_rangeds.count,
              "edit-character--item-name-param": name_pluralize
            }
          },
          forms: [
            {flex: [
              {
                name: :name,
                type: :text
              },
              {
                name: :types,
                type: :select,
                array: types_weapon
              },
              {
                removable: true,
                data: {
                  "action":"click->edit-character--item#remove",
                  "edit-character--item-id-param": true,
                  "edit-character--item-name-param": name_pluralize
                },
                class_div: delete_item,
              }
            ]},
            {flex: [
              {
                name: :qty,
                type: :number
              },
              {
                name: :die,
                type: :select,
                array: dice
              },
              {
                name: :weapon_specialization,
                surname: "w. spec.",
                type: :number
              },
              {
                name: :proficiency,
                type: :select,
                array: proficiencies
              },
              {
                name: :item,
                type: :number,
                array: proficiencies
              },
            ]},
            {flex: [
              {
                name: :multiple_attack_penalty_2,
                type: :number,
                array: proficiencies
              },
              {
                name: :multiple_attack_penalty_3,
                type: :number,
                array: proficiencies
              },
            ]},
            {grid: grid}
          ]
        ))%>
      <% end %>
    <% end %>
  </div>
<% end %>
