<%= render(CardComponent.new(
  title: "offense",
  svg: "M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z",
  tabs: ["weapon-proficiency", "melee", "ranged"]
)) do %>
  <div id="offensesTabContent">
    <%= render(CardTabComponent.new(tab: "weapon-proficiency", hidden: false)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Weapon Proficiency
        </div>
        <div id="body-weapon_proficiencies" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_weapon_proficiencies.count %>"
            data-edit-character--item-name-param="weapon_proficiencies">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_weapon_proficiencies do |form_weapon_proficiencies| %>
          <div id="weapon_proficiencies-<%= form_weapon_proficiencies.index %>">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_weapon_proficiencies,
                name: :name,
                class_div: "flex-1",
                rounded: "left"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_weapon_proficiencies,
                name: :proficiency,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: proficiencies
              ))%>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_weapon_proficiencies.index %>"
                data-edit-character--item-name-param="weapon_proficiencies">
                  -
                </div>
              </div>
            </div>
            <%= form_weapon_proficiencies.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "melee", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Melees
        </div>
        <div id="body-melees" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_melees.count %>"
            data-edit-character--item-name-param="melees">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_melees do |form_melees| %>
          <div id="melees-<%= form_melees.index %>" class="space-y-3">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :name,
                class_div: "flex-1",
                rounded: "left"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :types,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: types_weapon
              ))%>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_melees.index %>"
                data-edit-character--item-name-param="melees">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :qty,
                class_div: "flex-1",
                rounded: "left",
                form_type: "number"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :die,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: dice
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :weapon_specialization,
                surname: "w. spec.",
                class_div: "flex-1",
                rounded: "none",
                form_type: "number"
              ))%>
              
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :proficiency,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: proficiencies
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :item,
                class_div: "flex-1",
                rounded: "right",
                form_type: "number"
              ))%>
            </div>
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :multiple_attack_penalty_2,
                class_div: "flex-1",
                rounded: "left",
                form_type: "number"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_melees,
                name: :multiple_attack_penalty_3,
                class_div: "flex-1",
                rounded: "right",
                form_type: "number"
              ))%>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_melees,
              name: :other
            ))%>

            <%= render(Form::FieldWithLabelComponent.new(
              form: form_melees,
              name: :traits
            ))%>

            <%= render(Form::FieldWithLabelComponent.new(
              form: form_melees,
              name: :notes,
              form_type: "area"
            ))%>
            <%= form_melees.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "ranged", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Ranged
        </div>
        <div id="body-rangeds" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_rangeds.count %>"
            data-edit-character--item-name-param="rangeds">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_rangeds do |form_rangeds| %>
          <div id="rangeds-<%= form_rangeds.index %>" class="space-y-3">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :name,
                class_div: "flex-1",
                rounded: "left"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :types,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: types_weapon
              ))%>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_rangeds.index %>"
                data-edit-character--item-name-param="rangeds">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :qty,
                class_div: "flex-1",
                rounded: "left",
                form_type: "number"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :die,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: dice
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :weapon_specialization,
                surname: "w. spec.",
                class_div: "flex-1",
                rounded: "none",
                form_type: "number"
              ))%>
              
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :proficiency,
                form_type: "select",
                class_div: "flex-1",
                rounded: "none",
                array_select: proficiencies
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :item,
                class_div: "flex-1",
                rounded: "right",
                form_type: "number"
              ))%>
            </div>
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :multiple_attack_penalty_2,
                class_div: "flex-1",
                rounded: "left",
                form_type: "number"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_rangeds,
                name: :multiple_attack_penalty_3,
                class_div: "flex-1",
                rounded: "right",
                form_type: "number"
              ))%>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_rangeds,
              name: :special,
              class_div: "w-32"
            ))%>

            <%= render(Form::FieldWithLabelComponent.new(
              form: form_rangeds,
              name: :other
            ))%>

            <%= render(Form::FieldWithLabelComponent.new(
              form: form_rangeds,
              name: :traits
            ))%>

            <%= render(Form::FieldWithLabelComponent.new(
              form: form_rangeds,
              name: :notes,
              form_type: "area"
            ))%>
            <%= form_rangeds.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>