<%= render(CardComponent.new(
  title: "skills",
  svg: "M13 10v4h6v-4h-6zm-2 0H5v4h6v-4zm2 9h6v-3h-6v3zm-2 0v-3H5v3h6zm2-14v3h6V5h-6zm-2 0H5v3h6V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z",
  tabs: ["skills"]
)) do %>
  <div id="skillsTabContent">
    <%= render(CardTabComponent.new(tab: "skills", hidden: false)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Skills
        </div>
        <div id="body-skills" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_skills.count %>"
            data-edit-character--item-name-param="skills">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_skills do |form_skills| %>
          <div id="skills-<%= form_skills.index %>" class="space-y-3 pb-3 border-b border-gray-300 dark:border-gray-500">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_skills,
                name: :name,
                class_div: "flex-1",
                rounded: "left"
              ))%>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_skills.index %>"
                data-edit-character--item-name-param="skills">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_skills,
                name: :key_ability,
                class_div: "flex-1",
                rounded: "left",
                form_type: "select",
                array_select: abilities
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_skills,
                name: :proficiency,
                class_div: "flex-1",
                rounded: "none",
                form_type: "select",
                array_select: proficiencies
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_skills,
                name: :item,
                class_div: "flex-1",
                rounded: "none",
                form_type: "number"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_skills,
                name: :armor,
                class_div: "flex-1",
                rounded: "right",
                form_type: "number"
              ))%>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_skills,
              name: :note,
              form_type: "area"
            ))%>
            <%= form_skills.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
