<%= render(CardComponent.new(
  title: "spells",
  svg: "M12 23a7.5 7.5 0 0 1-5.138-12.963C8.204 8.774 11.5 6.5 11 1.5c6 4 9 8 3 14 1 0 2.5 0 5-2.47.27.773.5 1.604.5 2.47A7.5 7.5 0 0 1 12 23z",
  tabs: ["spell-caster", "spell", "innate-spells", "focus-spells"]
)) do %>
  <div id="spellsTabContent">
    <%= render(CardTabComponent.new(tab: "spell-caster", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "Spell Caster",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          grid: [
            {
              name: :magic_tradition,
              type: :select,
              array: magic_tradition
            },
            {
              name: :spellcasting_type,
              type: :select,
              array: spellcasting_type
            },
          ]
        ]
      ))%>
      <%= render(Form::BoxComponent.new(title: "Attack",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          flex: [
            {
              name: :attack_proficiency,
              surname: "Proficiency",
              type: :select,
              array: proficiencies
            },
            {
              name: :attack_bonus,
              surname: "Bonus",
              type: :number
            },
            {
              name: :attack_penalty,
              surname: "Penalty",
              type: :number
            },
          ]
        ]
      ))%>
      <%= render(Form::BoxComponent.new(title: "CD",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          flex: [
            {
              name: :cd_proficiency,
              surname: "Proficiency",
              type: :select,
              array: proficiencies
            },
            {
              name: :cd_bonus,
              surname: "Bonus",
              type: :number
            },
            {
              name: :cd_penalty,
              surname: "Penalty",
              type: :number
            },
          ]
        ]
      ))%>
      <%= render(Form::BoxComponent.new(title: "Level",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          grid:
            (0..10).map do |n|
              {
                name: "level_#{n}".to_sym,
                type: :number
              }
            end
        ]
      ))%>
      <%= render(Form::BoxComponent.new(title: "Notes",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "spell", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Spells",
        main_id: "body-spells",
        item_id: "spells-",
        form: @form,
        fields_for: :pathfinder_spells,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_spells.count,
            "edit-character--item-name-param":"spells"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"spells"
              },
              class_div: delete_item,
            }
          ]},
          {flex: [
            {
              name: :level,
              type: :number
            },
            {
              name: :prepared,
              type: :number
            },
            {
              name: :action,
              type: :select,
              array: actions,
              class_div: "font-pathfinder"
            },
            {
              name: :spell_component,
              type: :select,
              array: spell_component
            }
          ]},
          {flex: [
            {
              name: :duration,
              type: :text
            },
            {
              name: :range,
              type: :number
            },
          ]},
          {grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "innate-spells", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Innate Spells",
        main_id: "body-innate_spells",
        item_id: "innate_spells-",
        form: @form,
        fields_for: :pathfinder_innate_spells,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_innate_spells.count,
            "edit-character--item-name-param":"innate_spells"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"innate_spells"
              },
              class_div: delete_item,
            }
          ]},
          {flex: [
            {
              name: :frequency,
              type: :number
            },
            {
              name: :action,
              type: :select,
              array: actions,
              class_div: "font-pathfinder"
            },
            {
              name: :spell_component,
              type: :select,
              array: spell_component
            }
          ]},
          {flex: [
            {
              name: :duration,
              type: :text
            },
            {
              name: :range,
              type: :number
            },
          ]},
          {grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "focus-spells", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Focus Spell",
        form: @form,
        fields_for: :pathfinder_spell_caster,
        forms: [
          grid: [
            {
              name: :max_focus_points,
              type: :number
            },
            {
              name: :current_focus_points,
              type: :number
            },
          ]
        ]
      ))%>
      <%= render(Form::BoxComponent.new(title: "Spells",
        main_id: "body-focus_spells",
        item_id: "focus_spells-",
        form: @form,
        fields_for: :pathfinder_focus_spells,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_focus_spells.count,
            "edit-character--item-name-param":"focus_spells"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"focus_spells"
              },
              class_div: delete_item,
            }
          ]},
          {flex: [
            {
              name: :action,
              type: :select,
              array: actions,
              class_div: "font-pathfinder"
            },
            {
              name: :spell_component,
              type: :select,
              array: spell_component
            }
          ]},
          {flex: [
            {
              name: :duration,
              type: :text
            },
            {
              name: :range,
              type: :number
            },
          ]},
          {grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
  </div>
<% end %>
