<%= render(CardComponent.new(
  title: "statistics",
  svg: "M6.75 2.5A4.25 4.25 0 0 1 11 6.75V11H6.75a4.25 4.25 0 1 1 0-8.5zM9 9V6.75A2.25 2.25 0 1 0 6.75 9H9zm-2.25 4H11v4.25A4.25 4.25 0 1 1 6.75 13zm0 2A2.25 2.25 0 1 0 9 17.25V15H6.75zm10.5-12.5a4.25 4.25 0 1 1 0 8.5H13V6.75a4.25 4.25 0 0 1 4.25-4.25zm0 6.5A2.25 2.25 0 1 0 15 6.75V9h2.25zM13 13h4.25A4.25 4.25 0 1 1 13 17.25V13zm2 2v2.25A2.25 2.25 0 1 0 17.25 15H15z",
  tabs: ["abilities", "feats", "languages", "class-dc"]
)) do %>
  <div id="statisticsTabContent">
    <div data-controller="edit-character--abilities">
      <%= render(CardTabComponent.new(tab: "abilities", hidden: false)) do %>
        <%= @form.fields_for :pathfinder_ability do |form_ability| %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "str", full_name: "Strength")) %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "dex", full_name: "Dexterity", action: "change->edit-character--event-trigger#updateReflex")) %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "con", full_name: "Constitution", action: "change->edit-character--event-trigger#updateMaxHp change->edit-character--event-trigger#updateFortitude")) %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "int", full_name: "Intelligence")) %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "wis", full_name: "Wisdom", action: "change->edit-character--event-trigger#updateWill")) %>
          <%= render(Form::Character::AbilityComponent.new(form: form_ability, name: "cha", full_name: "Charisma")) %>        
        <% end %>
      <% end %>
    </div>
    
    <%= render(CardTabComponent.new(tab: "feats", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Feats
        </div>
        <div id="body-feats" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_feats.count %>" data-edit-character--item-name-param="feats">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_feats do |form_feats| %>
          <div id="feats-<%= form_feats.index %>">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_feats,
                name: :name,
                rounded: :left,
                class_div: "flex-1"
              ))%>

              <%= render(Form::FieldWithLabelComponent.new(
                form: form_feats,
                name: :types,
                rounded: :none,
                class_div: "flex-1",
                type: :select,
                array: types_feats
              ))%>

              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_feats.index %>" data-edit-character--item-name-param="feats">
                  -
                </div>
              </div>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_feats,
              name: :notes,
              type: :area
            ))%>
            <%= form_feats.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <%= render(CardTabComponent.new(tab: "languages", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Languages
        </div>
        <div id="body-languages" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_languages.count %>"
            data-edit-character--item-name-param="languages">
              +
            </div>
          </div>
          <%= @form.fields_for :pathfinder_languages do |form_languages| %>
          <div id="languages-<%= form_languages.index %>">
            <div class="flex">
              <%= render(Form::FieldWithLabelComponent.new(
                form: form_languages,
                name: :name,
                rounded: :left
              ))%>

              <div>
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_languages.index %>"
                data-edit-character--item-name-param="languages">
                  -
                </div>
              </div>
            </div>
            <%= render(Form::FieldWithLabelComponent.new(
              form: form_languages,
              name: :notes,
              type: :area
            ))%>
            <%= form_languages.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <%= render(CardTabComponent.new(tab: "class-dc", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Class DC
        </div>
        <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
          <%= @form.fields_for :pathfinder_class_dc do |form_class_dc| %>
          <%= render(Form::FieldWithLabelComponent.new(
            form: form_class_dc,
            name: :item,
            type: :number
          ))%>

          <%= render(Form::FieldWithLabelComponent.new(
            form: form_class_dc,
            name: :proficiency,
            type: :select,
            array: proficiencies
          ))%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
