<%= render(CardComponent.new(
  title: "statistics",
  svg: "M6.75 2.5A4.25 4.25 0 0 1 11 6.75V11H6.75a4.25 4.25 0 1 1 0-8.5zM9 9V6.75A2.25 2.25 0 1 0 6.75 9H9zm-2.25 4H11v4.25A4.25 4.25 0 1 1 6.75 13zm0 2A2.25 2.25 0 1 0 9 17.25V15H6.75zm10.5-12.5a4.25 4.25 0 1 1 0 8.5H13V6.75a4.25 4.25 0 0 1 4.25-4.25zm0 6.5A2.25 2.25 0 1 0 15 6.75V9h2.25zM13 13h4.25A4.25 4.25 0 1 1 13 17.25V13zm2 2v2.25A2.25 2.25 0 1 0 17.25 15H15z",
  tabs: ["abilities", "feats", "languages", "class-dc"]
)) do %>
  <div id="statisticsTabContent">
    <div data-controller="edit-character--abilities">
      <%= render(CardTabComponent.new(tab: "abilities", hidden: false)) do %>
        <% [
          {name: "strength"},
          {
            name: "dexterity",
            action: "change->edit-character--event-trigger#updateReflex"
          },
          {
            name: "constitution",
            action: "change->edit-character--event-trigger#updateMaxHp change->edit-character--event-trigger#updateFortitude"
          },
          {name: "intelligence"},
          {
            name: "wisdom",
            action: "change->edit-character--event-trigger#updateWill"
          },
          {name: "charisma"},
        ].each do |ability| %>
          <% shortened_name = ability[:name][0..2] %>
          <%= render(Form::BoxComponent.new(title: ability[:name].capitalize,
            form: @form,
            fields_for: :pathfinder_ability,
            data: {
              action: "change->edit-character--abilities#updateTotal #{ability[:action] || ""}",
              "edit-character--abilities-ability-param": shortened_name
            },
            forms: [
              flex: [
                {
                  name: "#{shortened_name}_total".to_sym,
                  surname: "Total",
                  type: :number,
                  read_only: true,
                  data: {
                    "edit-character--abilities-target":"#{shortened_name}_total"
                  }
                },
                {
                  name: "#{shortened_name}_background".to_sym,
                  surname: "Background",
                  type: :number,
                  data: {
                    "edit-character--abilities-target":"#{shortened_name}_background"
                  }
                },
                {
                  name: "#{shortened_name}_class".to_sym,
                  surname: "Class",
                  type: :number,
                  data: {
                    "edit-character--abilities-target":"#{shortened_name}_class"
                  }
                },
                {
                  name: "#{shortened_name}_ascentry".to_sym,
                  surname: "Ancestry",
                  type: :number,
                  data: {
                    "edit-character--abilities-target":"#{shortened_name}_ascentry"
                  }
                },
                {
                  name: "#{shortened_name}_free".to_sym,
                  surname: "Class",
                  type: :number,
                  data: {
                    "edit-character--abilities-target":"#{shortened_name}_free"
                  }
                },
              ]
            ]
          ))%>
        <% end %>
      <% end %>
    </div>
    <%= render(CardTabComponent.new(tab: "feats", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Feats",
        main_id: "body-feats",
        item_id: "feats-",
        data: {
          "controller": "edit-character--macros",
        },
        form: @form,
        fields_for: :pathfinder_feats,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--macros-count-param": @character.pathfinder_feats.count,
            "edit-character--item-name-param":"feats"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              name: :types,
              type: :select,
              array: types_feats
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"feats"
              },
              class_div: delete_item,
            }
          ]},
          {grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "languages", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Languages",
        main_id: "body-languages",
        item_id: "languages-",
        form: @form,
        fields_for: :pathfinder_languages,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--macros-count-param": @character.pathfinder_languages.count,
            "edit-character--item-name-param":"languages"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"languages"
              },
              class_div: delete_item,
            }
          ]},
          {grid: [
            {
              name: :notes,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
    <%= render(CardTabComponent.new(tab: "class-dc", hidden: true)) do %>
      <%= render(Form::BoxComponent.new(title: "Class DC",
        form: @form,
        fields_for: :pathfinder_class_dc,
        forms: [
          grid: [
            {
              name: :item,
              type: :number
            },
            {
              name: :proficiency,
              type: :select,
              array: proficiencies
            }
          ]
        ]
      ))%>
    <% end %>
  </div>
<% end %>
