<div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
  <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
    <%= @full_name %>
  </div>
  <div class="w-full">
    <div class="flex" data-action="change->edit-character--abilities#updateTotal <%= @action %>" data-edit-character--abilities-ability-param="<%= @name %>">
      <%= render(Form::FieldWithLabelComponent.new(
        form: @form,
        name: "#{@name}_total".to_sym,
        surname: "Total",
        class_div: "flex-1",
        type: :number,
        rounded: :left,
        data: {
          "edit-character--abilities-target":"#{@name}_total"
        }
      ))%>

      <%= render(Form::FieldWithLabelComponent.new(
        form: @form,
        name: "#{@name}_background".to_sym,
        surname: "Background",
        class_div: "flex-1",
        type: :number,
        rounded: :none,
        data: {
          "edit-character--abilities-target":"#{@name}_background"
        }
      ))%>

      <%= render(Form::FieldWithLabelComponent.new(
        form: @form,
        name: "#{@name}_class".to_sym,
        surname: "Class",
        class_div: "flex-1",
        type: :number,
        rounded: :none,
        data: {
          "edit-character--abilities-target":"#{@name}_class"
        }
      ))%>

      <%= render(Form::FieldWithLabelComponent.new(
        form: @form,
        name: "#{@name}_ascentry".to_sym,
        surname: "Ancestry",
        class_div: "flex-1",
        type: :number,
        rounded: :none,
        data: {
          "edit-character--abilities-target":"#{@name}_ascentry"
        }
      ))%>

      <%= render(Form::FieldWithLabelComponent.new(
        form: @form,
        name: "#{@name}_free".to_sym,
        surname: "Class",
        class_div: "flex-1",
        type: :number,
        rounded: :right,
        data: {
          "edit-character--abilities-target":"#{@name}_free"
        }
      ))%>
    </div>
  </div>
</div>