<%= render(CardComponent.new(
  title: "basics",
  svg: "M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z",
  tabs: ["character", "server", "dices", "chat"]
)) do %>
  <div id="basicsTabContent">
    <%= render(CardTabComponent.new(tab: "character", hidden: false)) do %>
      <div class="md:py-3">
        <div class="flex flex-col md:flex-row">
          <div class="flex justify-center md:basis-64 relative w-full h-64">
            <%= image_tag @character.character_image, id:"character-image", class: "absolute -top-3 md:-top-0 md:-left-6 rounded-full drop-shadow-lg w-64 h-64 bg-white" if @character.character_image.attached? %>
          </div>
          <div class="space-y-6 p-6 md:p-0 flex-1">
            <h1 id="character-name" class="md:mt-6 text-3xl" data-id="<%= @character.id %>">
              <%= @character.pathfinder_basic.name %>
            </h1>
            
            <h2 class="text-2xl">
              <%= @character.pathfinder_basic.class_name %>
              <%= @character.pathfinder_basic.level %>
            </h2>

            <div class="flex space-x-4">
              <%= render(TitleWithContentComponent.new(title: "Perception", _class: "italic", bar: true)) do%>
                <%= get_perception @character %>
              <% end %>

              <%= render(TitleWithContentComponent.new(title: "Land Speed", _class: "italic")) do%>
                <%= render(PopoverComponent.new(name: "speed", content_popover: @character.pathfinder_basic.speed_note)) do%>
                  <%= @character.pathfinder_basic.speed %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="p-6 flex flex-wrap gap-3">
        <%= render(TitleWithContentComponent.new(title: "Aligment", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.alignment %>
        <% end %>
    
        <%= render(TitleWithContentComponent.new(title: "Size", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.size %>
        <% end %>
        
        <%= render(TitleWithContentComponent.new(title: "Ancestry", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.ancestry %>
        <% end %>
        
        <%= render(TitleWithContentComponent.new(title: "Heritage", _class: "italic", bar: true)) do%>
          <%= render(PopoverComponent.new(name: "heritage", content_popover: @character.pathfinder_basic.heritage_note )) do%>
            <%= @character.pathfinder_basic.heritage %>
          <% end %>
        <% end %>
        
        <%= render(TitleWithContentComponent.new(title: "Background", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.background %>
        <% end %>
        
        <%= render(TitleWithContentComponent.new(title: "Deity", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.deity %>
        <% end %>
    
        <%= render(TitleWithContentComponent.new(title: "Age", _class: "italic", bar: true)) do%>
          <%= @character.pathfinder_basic.age %>
        <% end %>
    
        <%= render(TitleWithContentComponent.new(title: "Hero Points", _class: "italic")) do%>
          <%= @character.pathfinder_basic.hero_points %>
        <% end %>

      </div>
      <!--  -->
      <div class="px-6 pb-6">
        <%= render(TitleWithContentComponent.new(title: "Description", _class: "italic")) do%>
          <%= @character.pathfinder_basic.description %>
        <% end %>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "server", hidden: true)) do %>
      <div class="mx-auto w-full max-w-sm bg-transparent rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:border-gray-700">
        <div class="space-y-6 text-sm text-gray-900 dark:text-gray-300" data-channels--character-target="formServer">
          <div data-channels--character-target="warning">
            
          </div>
          <div>
            <label for="server-name" class="block mb-2 font-medium">Server name</label>
            <input type="text" name="server-name" id="server-name" class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" data-channels--character-target="serverName">
          </div>
          <div>
            <label for="password" class="block mb-2 font-medium">Password</label>
            <input type="password" name="password" id="password" placeholder="" class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" data-channels--character-target="password">
          </div>
          <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-action="channels--character#startServer">Connect</button>
        </div>
        <button class="hidden space-y-6" data-channels--character-target="terminateButton" data-action="channels--character#sendCharacterExit">
          Stop Server
        </button>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "dices", hidden: true)) do %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
          Macros
        </div>
        <div class="space-y-3 w-full">
          <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
            <% @character.dices.each do |dice| %>
            <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500"
              data-action="click->drawer#toggleDrawerMacro"
              data-drawer-name-param="<%= dice.name %>"
              data-drawer-notation-param="<%= format_macro_notation(@character, dice.notation) %>"
              data-drawer-note-param="<%= dice.notes %>"
              data-drawer-character-id-param="<%= @character.id %>">
              <p>
                <%= dice.name %>
              </p>
              <p>
                <%= format_macro_notation(@character, dice.notation) %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render(CardTabComponent.new(tab: "chat", hidden: true)) do %>
      <div class="p-6 mb-4 border-b-4 border-gray-200 dark:border-gray-700 flex justify-between flex-col md:flex-row gap-3">
        <div>
          <label for="toggle" class="inline-flex relative items-center mr-5 cursor-pointer">
            <input type="checkbox" value="" id="toggle" class="sr-only peer" checked>
            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">I want to receive message from tv.</span>
          </label>
        </div>

        <div>
          <button id="dropdownCharactersButton" data-dropdown-toggle="dropdownCharacters" data-dropdown-placement="bottom" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Players<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
          <!-- Dropdown menu -->
          <div id="dropdownCharacters" class="hidden z-10 w-60 bg-white rounded shadow dark:bg-gray-700" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 140px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
            <ul class="overflow-y-auto py-1 h-48 text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCharactersButton">
              <li>
                <p class="flex items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                  <img class="mr-2 w-6 h-6 rounded-full" src="">
                  Jese Leos
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex h-[30rem] antialiased text-gray-800">
        <div class="flex flex-col h-full w-full overflow-x-hidden bg-transparent"> 
          <!-- flex-auto -->
          <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                <div class="col-start-1 col-end-13 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">
                      <img src="" class="rounded-full">
                    </div>
                    <div class="relative ml-3 text-sm bg-indigo-200 py-2 px-4 shadow rounded-xl">
                      <div>
                        <span class="font-bold">Alexandre say:</span>
                        <p class="ml-2">message</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-1 col-end-13 p-3 rounded-lg">
                  <div class="flex items-center justify-start flex-row-reverse">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-600 flex-shrink-0">
                      <img src="" class="rounded-full">
                    </div>
                    <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                      <div>
                        <span class="font-bold">Alexandre say:</span>
                        <p class="ml-2">message</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center py-2 px-1 bg-transparent rounded-lg">
            <textarea id="chat" rows="1" class="block mx-2 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none" placeholder="Your message..."></textarea>
              <button class="inline-flex justify-center p-2.5 text-rose-600 rounded-full cursor-pointer hover:bg-rose-100 dark:text-rose-500 dark:hover:bg-gray-600">
                <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
                <span class="sr-only">Send message</span>
              </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
