<%= render(CardComponent.new(
  title: "skills",
  svg: "M13 10v4h6v-4h-6zm-2 0H5v4h6v-4zm2 9h6v-3h-6v3zm-2 0v-3H5v3h6zm2-14v3h6V5h-6zm-2 0H5v3h6V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z"
)) do %>
  <div class="p-6 w-full">
    <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
      <% @character.pathfinder_skills.each do |skill| %>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500" data-action="click->drawer#toggleDrawerRight" data-drawer-name-param="<%= skill.name %>" data-drawer-note-param="<%= skill.note %>">
        <p>
          <%= skill.name %>
        </p>
        <%= render(PopoverComponent.new(name: "skill-#{skill.id}", content_popover: "#{skill.key_ability}: #{get_modifier(@character, skill.key_ability)} | Item: #{skill.item || 0} | Proficiency: #{skill.proficiency || 0}")) do%>
          <%= score_skill(@character, skill) %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
