<div id="basics" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"/></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Basics
    </h1>
  </div>
  <div class="md:py-3">
    <div class="flex flex-col md:flex-row">
      <div class="flex justify-center md:basis-64 relative w-full h-64">
        <%= image_tag @character.character_image, class: "absolute -top-3 md:-top-0 md:-left-6 rounded-full drop-shadow-lg w-64 h-64 bg-white" if @character.character_image.attached? %>
      </div>
      <div class="space-y-6 p-6 md:p-0 flex-1">
        <h1 id="character-name" class="md:mt-6 text-3xl">
          <%= @character.pathfinder_basic.name %>
        </h1>
        <h2 class="text-2xl">
          <%= @character.pathfinder_basic.class_name %> <%= @character.pathfinder_basic.level %>
        </h2>
        <div class="flex space-x-4">
          <div>
            <h3 class="italic text-rose-700 dark:text-rose-500">
              Perception
            </h3>
            <span class="pl-3">
              <%= get_perception %>
            </span>
          </div>
          <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
          <div>
            <h3 class="italic text-rose-700 dark:text-rose-500">
              Land Speed
            </h3>
            <span class="pl-2" data-popover-target="popover-speed">
              <%= @character.pathfinder_basic.speed %>
            </span>
            <div data-popover id="popover-speed" role="tooltip" class="inline-block absolute invisible z-10 w-64 text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                <div class="py-2 px-3">
                    <p><%= @character.pathfinder_basic.speed_note %></p>
                </div>
                <div data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="p-6 flex flex-wrap gap-3">
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Aligment
        </h3>
        <span class="pl-3">
          <%= @character.pathfinder_basic.alignment %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Size
        </h3>
        <span class="pl-3">
          <%= @character.pathfinder_basic.size %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Ancestry
        </h3>
        <span class="pl-2">
          <%= @character.pathfinder_basic.ancestry %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Heritage
        </h3>
        <span class="pl-2" data-popover-target="popover-speed">
          <%= @character.pathfinder_basic.heritage %>
        </span>
      </div>
      <div data-popover id="popover-speed" role="tooltip" class="inline-block absolute invisible z-10 w-64 text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
        <div class="py-2 px-3">
          <p><%= @character.pathfinder_basic.heritage_note %></p>
        </div>
        <div data-popper-arrow></div>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Background
        </h3>
        <span class="pl-2">
          <%= @character.pathfinder_basic.background %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Deity
        </h3>
        <span class="pl-2">
          <%= @character.pathfinder_basic.deity %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Age
        </h3>
        <span class="pl-2">
          <%= @character.pathfinder_basic.age %>
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Hero Points
        </h3>
        <span class="pl-2">
          <%= @character.pathfinder_basic.hero_points %>
        </span>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="px-6 pb-6">
    <h3 class="italic text-rose-700 dark:text-rose-500">
      Description
    </h3>
    <p class="pl-3">
      <%= @character.pathfinder_basic.description %>
    </p>
  </div>
</div>