<div id="statistics" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M6.75 2.5A4.25 4.25 0 0 1 11 6.75V11H6.75a4.25 4.25 0 1 1 0-8.5zM9 9V6.75A2.25 2.25 0 1 0 6.75 9H9zm-2.25 4H11v4.25A4.25 4.25 0 1 1 6.75 13zm0 2A2.25 2.25 0 1 0 9 17.25V15H6.75zm10.5-12.5a4.25 4.25 0 1 1 0 8.5H13V6.75a4.25 4.25 0 0 1 4.25-4.25zm0 6.5A2.25 2.25 0 1 0 15 6.75V9h2.25zM13 13h4.25A4.25 4.25 0 1 1 13 17.25V13zm2 2v2.25A2.25 2.25 0 1 0 17.25 15H15z" /></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Statistics
    </h1>
  </div>
  <!-- Ability -->
  <div class="p-6 flex flex-wrap gap-6 justify-center">
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'str' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          STR <span class="text-2xl"><%= @character.pathfinder_ability.str_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "str" %>
        </p>
      </div>
      <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'dex' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          DEX <span class="text-2xl"><%= @character.pathfinder_ability.dex_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "dex" %>
        </p>
      </div>
      <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'con' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          CON <span class="text-2xl"><%= @character.pathfinder_ability.con_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "con" %>
        </p>
      </div>
      <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'int' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          INT <span class="text-2xl"><%= @character.pathfinder_ability.int_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "int" %>
        </p>
      </div>
      <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'wis' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          WIS <span class="text-2xl"><%= @character.pathfinder_ability.wis_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "wis" %>
        </p>
      </div>
      <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex space-x-4">
      <div class="<%= key_ability? 'cha' %> rounded p-1 ">
        <h3 class="font-bold text-xl text-rose-700 dark:text-rose-500">
          CHA <span class="text-2xl"><%= @character.pathfinder_ability.cha_total || 0 %></span>
        </h3>
        <p class="text-center text-3xl">
          <%= get_modifier "cha" %>
        </p>
      </div>
    </div>
  </div>
  <!--  -->
  <% @character.pathfinder_feats.each do |feat| %>
    <%= turbo_stream.append "feats-#{feat.types.downcase}" do %>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 border-b-2 border-gray-300 dark:border-gray-500" data-action="click->flowbite#toggleDrawerRight" data-flowbite-name-param="<%= feat.name %>" data-flowbite-note-param="<%= feat.notes %>">
        <p>
          <%= feat.name %>
        </p>
      </div>
    <% end %>
  <% end %>
  <!-- Feats -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Feats Ancestry
    </div>
    <div id="feats-ancestry" class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Feats Class
    </div>
    <div id="feats-class" class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Feats Skill
    </div>
    <div id="feats-skill" class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Feats General
    </div>
    <div id="feats-general" class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Feats Bonus
    </div>
    <div id="feats-bonus" class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Languages
    </div>
    <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
      <% @character.pathfinder_languages.each do |language| %>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 border-b-2 border-gray-300 dark:border-gray-500" data-action="click->flowbite#toggleDrawerRight" data-flowbite-name-param="<%= language.name %>" data-flowbite-note-param="<%= language.notes %>">
          <p>
            <%= language.name %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>