<div class="relative z-0 mb-6 w-full group">
  <%= form.text_field :name, class: form_field(@user, :name), placeholder:" " %>
  <%= form.label :name, class: form_label(@user, :name) %>
  <% @user.errors.messages[:name].each do |message| %>
    <p class="mt-2 text-sm text-red-600 dark:text-red-500"><%= message %></p>
  <% end %>
</div>
  


<div class="relative z-0 mb-6 w-full group">
  <%= form.email_field :email, class: form_field(@user, :email), placeholder:" " %>
  <%= form.label :email, class: form_label(@user, :email) %>
  <% @user.errors.messages[:email].each do |message| %>
    <p class="mt-2 text-sm text-red-600 dark:text-red-500"><%= message %></p>
  <% end %>
</div>

<div class="relative z-0 mb-6 w-full group">
  <%= form.password_field :password, class: form_field(@user, :password), placeholder:" " %>
  <%= form.label :password, class: form_label(@user, :password) %>
  <% @user.errors.messages[:password].each do |message| %>
    <p class="mt-2 text-sm text-red-600 dark:text-red-500"><%= message %></p>
  <% end %>
</div>
