<div id="equipament" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3z" /></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Equipament
    </h1>
  </div>
  <!--  -->
  <div class="px-3 mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex overflow-auto -mb-px text-sm font-medium text-center" id="equipamentsTab" data-tabs-toggle="#equipamentsTabContent" role="tablist">
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="items-tab" data-tabs-target="#items" type="button" role="tab" aria-controls="items" aria-selected="true">Items</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="money-tab" data-tabs-target="#money" type="button" role="tab" aria-controls="money" aria-selected="false">Money</button>
      </li>
    </ul>
  </div>
  <!--  -->
  <div id="equipamentsTabContent">
    <div class="" id="items" role="tabpanel" aria-labelledby="items-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Items
        </div>
        <div id="body-items" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="text-center font-bold cursor-pointer font-bold rounded bg-sky-500 border text-white hover:bg-blue-700 hover:bg-blue-500 block min-w-0 w-10 text-sm border-sky-300 p-2 dark:bg-sky-500 dark:border-sky-600 dark:text-white dark:hover:bg-sky-700" data-controller="edit-character--items" data-action="click->edit-character--items#addItem" data-edit-character--items-count-param="<%= @character.pathfinder_items.count %>">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_items do |form_items| %>
          <div id="items-<%= form_items.index %>">
            <div class="flex">
              <div>
                <%= form_items.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_items.text_field :name, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div>
                <%= form_items.label :quatity, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_items.number_field :quatity, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div>
                <%= form_items.label :weight, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_items.number_field :weight, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div>
                <div class="block mb-2 text-sm font-medium opacity-0">0</div>
                <div class="rounded-none rounded-r-lg block flex-1 p-2.5 text-center font-bold cursor-pointer font-bold rounded bg-rose-500 border text-white hover:bg-red-700 hover:bg-red-500 block min-w-0 w-10 text-sm border-rose-300 dark:bg-rose-500 dark:border-rose-600 dark:text-white dark:hover:bg-rose-700" data-controller="edit-character--items" data-action="click->edit-character--items#removeItem" data-edit-character--items-id-param="<%= form_items.index %>">
                  -
                </div>
              </div>
            </div>
            <div>
              <%= form_items.label :notes, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_items.text_area :notes, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <%= form_items.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="" id="money" role="tabpanel" aria-labelledby="money-tab">
      <%= form.fields_for :pathfinder_money do |form_money| %>
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Money
        </div>
        <div class="w-full">
          <div class="flex" data-controller="edit-character--money" data-action="change->edit-character--money#updateMoney">
            <div class="flex-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Total</label>
              <input id="money-total" type="text" name="total" class="rounded-none rounded-l-lg bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>
            </div>
            <div class="flex-1">
              <%= form_money.label :copper, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_money.number_field :copper, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div class="flex-1">
              <%= form_money.label :silver, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_money.number_field :silver, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div class="flex-1">
              <%= form_money.label :gold, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_money.number_field :gold, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div class="flex-1">
              <%= form_money.label :platinum, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_money.number_field :platinum, class: "rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
