<div id="offense" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z"/></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Offense
    </h1>
  </div>
  <!--  -->
    <div class="px-3 mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex overflow-auto -mb-px text-sm font-medium text-center" id="offensesTab" data-tabs-toggle="#offensesTabContent" role="tablist">
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="weapon-proficiency-tab" data-tabs-target="#weapon-proficiency" type="button" role="tab" aria-controls="weapon-proficiency" aria-selected="true">Weapon Proficiency</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="melee-tab" data-tabs-target="#melee" type="button" role="tab" aria-controls="melee" aria-selected="false">Melee</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="ranged-tab" data-tabs-target="#ranged" type="button" role="tab" aria-controls="ranged" aria-selected="false">Ranged</button>
      </li>
    </ul>
  </div>
  <!--  -->
  <div id="offensesTabContent">
    <div class="" id="weapon-proficiency" role="tabpanel" aria-labelledby="weapon-proficiency-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Weapon Proficiency
        </div>
        <div id="body-weapon-proficiencies" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="text-center font-bold cursor-pointer font-bold rounded bg-sky-500 border text-white hover:bg-blue-700 hover:bg-blue-500 block min-w-0 w-10 text-sm border-sky-300 p-2 dark:bg-sky-500 dark:border-sky-600 dark:text-white dark:hover:bg-sky-700" data-controller="edit-character--weapon-proficiencies" data-action="click->edit-character--weapon-proficiencies#addWeaponProficiency" data-edit-character--weapon-proficiencies-count-param="<%= @character.pathfinder_weapon_proficiencies.count %>">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_weapon_proficiencies do |form_weapon_proficiencies| %>
          <div id="weapon-proficiencies-<%= form_weapon_proficiencies.index %>">
            <div class="flex">
              <div class="flex-1">
                <%= form_weapon_proficiencies.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_weapon_proficiencies.text_field :name, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_weapon_proficiencies.label :proficiency, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_weapon_proficiencies.select :proficiency, proficiencies, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <div class="block mb-2 text-sm font-medium opacity-0">0</div>
                <div class="rounded-none rounded-r-lg block flex-1 p-2.5 text-center font-bold cursor-pointer font-bold rounded bg-rose-500 border text-white hover:bg-red-700 hover:bg-red-500 block min-w-0 w-10 text-sm border-rose-300 dark:bg-rose-500 dark:border-rose-600 dark:text-white dark:hover:bg-rose-700" data-controller="edit-character--weapon-proficiencies" data-action="click->edit-character--weapon-proficiencies#removeWeaponProficiency" data-edit-character--weapon-proficiencies-id-param="<%= form_weapon_proficiencies.index %>">
                  -
                </div>
              </div>
            </div>
            <%= form_weapon_proficiencies.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="" id="melee" role="tabpanel" aria-labelledby="melee-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Melees
        </div>
        <div id="body-melees" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="text-center font-bold cursor-pointer font-bold rounded bg-sky-500 border text-white hover:bg-blue-700 hover:bg-blue-500 block min-w-0 w-10 text-sm border-sky-300 p-2 dark:bg-sky-500 dark:border-sky-600 dark:text-white dark:hover:bg-sky-700" data-controller="edit-character--melees" data-action="click->edit-character--melees#addMelee" data-edit-character--melees-count-param="<%= @character.pathfinder_melees.count %>">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_melees do |form_melees| %>
          <div id="melees-<%= form_melees.index %>" class="space-y-3">
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.text_field :name, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :types, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.select :types, types_weapon, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <div class="block mb-2 text-sm font-medium opacity-0">0</div>
                <div class="rounded-none rounded-r-lg block flex-1 p-2.5 text-center font-bold cursor-pointer font-bold rounded bg-rose-500 border text-white hover:bg-red-700 hover:bg-red-500 block min-w-0 w-10 text-sm border-rose-300 dark:bg-rose-500 dark:border-rose-600 dark:text-white dark:hover:bg-rose-700" data-controller="edit-character--melees" data-action="click->edit-character--melees#removeMelee" data-edit-character--melees-id-param="<%= form_melees.index %>">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :qty, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.number_field :qty, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :die, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.select :die, dice, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :weapon_specialization, "w. spec.", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.number_field :weapon_specialization, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :proficiency, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.select :proficiency, proficiencies, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :item, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.number_field :item, class: "rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :multiple_attack_penalty_2, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.number_field :multiple_attack_penalty_2, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :multiple_attack_penalty_3, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_melees.number_field :multiple_attack_penalty_3, class: "rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
            </div>
            <div>
              <%= form_melees.label :other, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_melees.text_field :other, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= form_melees.label :traits, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_melees.text_field :traits, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= form_melees.label :notes, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_melees.text_area :notes, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <%= form_melees.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="" id="ranged" role="tabpanel" aria-labelledby="ranged-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Ranged
        </div>
        <div id="body-rangeds" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="text-center font-bold cursor-pointer font-bold rounded bg-sky-500 border text-white hover:bg-blue-700 hover:bg-blue-500 block min-w-0 w-10 text-sm border-sky-300 p-2 dark:bg-sky-500 dark:border-sky-600 dark:text-white dark:hover:bg-sky-700" data-controller="edit-character--rangeds" data-action="click->edit-character--rangeds#addRanged" data-edit-character--rangeds-count-param="<%= @character.pathfinder_rangeds.count %>">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_rangeds do |form_rangeds| %>
          <div id="rangeds-<%= form_rangeds.index %>" class="space-y-3">
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.text_field :name, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :types, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.select :types, types_weapon, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <div class="block mb-2 text-sm font-medium opacity-0">0</div>
                <div class="rounded-none rounded-r-lg block flex-1 p-2.5 text-center font-bold cursor-pointer font-bold rounded bg-rose-500 border text-white hover:bg-red-700 hover:bg-red-500 block min-w-0 w-10 text-sm border-rose-300 dark:bg-rose-500 dark:border-rose-600 dark:text-white dark:hover:bg-rose-700" data-controller="edit-character--rangeds" data-action="click->edit-character--rangeds#removeRanged" data-edit-character--rangeds-id-param="<%= form_rangeds.index %>">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :qty, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.number_field :qty, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :die, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.select :die, dice, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :weapon_specialization, "w. spec.", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.number_field :weapon_specialization, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :proficiency, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.select :proficiency, proficiencies, {}, class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :item, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.text_field :item, class: "rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :multiple_attack_penalty_2, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.text_field :multiple_attack_penalty_2, class: "rounded-none rounded-l-lg  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :multiple_attack_penalty_3, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                <%= form_rangeds.text_field :multiple_attack_penalty_3, class: "rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
              </div>
            </div>
            <div class="w-32">
              <%= form_rangeds.label :special, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_rangeds.number_field :special, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: 0 %>
            </div>
            <div>
              <%= form_rangeds.label :other, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_rangeds.text_field :other, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= form_rangeds.label :traits, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_rangeds.text_field :traits, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= form_rangeds.label :notes, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
              <%= form_rangeds.text_area :notes, class: "rounded bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <%= form_rangeds.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>