<div id="offense" class="<%= box_body %>">
  <div class="<%= box_header %>">
    <svg class="<%= box_header_svg %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z"/></svg>
    <h1 class="<%= box_header_text %>">
      Offense
    </h1>
  </div>
  <!--  -->
    <div class="<%= box_tabs_body %>">
    <ul class="<%= box_tabs %>" id="offensesTab" data-tabs-toggle="#offensesTabContent" role="tablist">
      <% ["weapon-proficiency", "melee", "ranged"].each_with_index do |target, index| %>
        <li class="mr-2" role="presentation">
          <button class="<%= box_tab_button %>" id="<%= target %>-tab" data-tabs-target="#<%= target %>" type="button" role="tab" aria-controls="<%= target %>" aria-selected="<%= index == '0' ? 'true' : 'false' %>"><%= target.capitalize.sub("-", " ") %></button>
        </li>
      <% end %>
    </ul>
  </div>
  <!--  -->
  <div id="offensesTabContent">
    <div id="weapon-proficiency" role="tabpanel" aria-labelledby="weapon-proficiency-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Weapon Proficiency
        </div>
        <div id="body-weapon_proficiencies" class="w-full space-y-6">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_weapon_proficiencies.count %>"
            data-edit-character--item-name-param="weapon_proficiencies">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_weapon_proficiencies do |form_weapon_proficiencies| %>
          <div id="weapon_proficiencies-<%= form_weapon_proficiencies.index %>">
            <div class="flex">
              <div class="flex-1">
                <%= form_weapon_proficiencies.label :name, class: normal_label %>
                <%= form_weapon_proficiencies.text_field :name, class: "#{rounded_left} #{normal_field} #{write_only}" %>
              </div>
              <div class="flex-1">
                <%= form_weapon_proficiencies.label :proficiency, class: normal_label %>
                <%= form_weapon_proficiencies.select :proficiency, proficiencies, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_weapon_proficiencies.index %>"
                data-edit-character--item-name-param="weapon_proficiencies">
                  -
                </div>
              </div>
            </div>
            <%= form_weapon_proficiencies.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="hidden" id="melee" role="tabpanel" aria-labelledby="melee-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Melees
        </div>
        <div id="body-melees" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_melees.count %>"
            data-edit-character--item-name-param="melees">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_melees do |form_melees| %>
          <div id="melees-<%= form_melees.index %>" class="space-y-3">
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :name, class: normal_label %>
                <%= form_melees.text_field :name, class: "#{rounded_left} #{normal_field} #{write_only}" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :types, class: normal_label %>
                <%= form_melees.select :types, types_weapon, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_melees.index %>"
                data-edit-character--item-name-param="melees">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :qty, class: normal_label %>
                <%= form_melees.number_field :qty, class: "#{rounded_left} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :die, class: normal_label %>
                <%= form_melees.select :die, dice, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :weapon_specialization, "w. spec.", class: normal_label %>
                <%= form_melees.number_field :weapon_specialization, class: "#{rounded_none} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :proficiency, class: normal_label %>
                <%= form_melees.select :proficiency, proficiencies, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :item, class: normal_label %>
                <%= form_melees.number_field :item, class: "#{rounded_right} #{normal_field} #{write_only}", value: 0 %>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_melees.label :multiple_attack_penalty_2, class: normal_label %>
                <%= form_melees.number_field :multiple_attack_penalty_2, class: "#{rounded_left} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_melees.label :multiple_attack_penalty_3, class: normal_label %>
                <%= form_melees.number_field :multiple_attack_penalty_3, class: "#{rounded_right} #{normal_field} #{write_only}", value: 0 %>
              </div>
            </div>
            <div>
              <%= form_melees.label :other, class: normal_label %>
              <%= form_melees.text_field :other, class: "#{normal_field} #{write_only}" %>
            </div>
            <div>
              <%= form_melees.label :traits, class: normal_label %>
              <%= form_melees.text_field :traits, class: "#{normal_field} #{write_only}" %>
            </div>
            <div>
              <%= form_melees.label :notes, class: normal_label %>
              <%= form_melees.text_area :notes, class: "#{normal_field} #{write_only}" %>
            </div>
            <%= form_melees.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="hidden" id="ranged" role="tabpanel" aria-labelledby="ranged-tab">
      <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
        <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
          Ranged
        </div>
        <div id="body-rangeds" class="w-full space-y-10">
          <div class="w-full flex flex-row-reverse">
            <div class="<%= add_item %>" data-action="click->edit-character--item#add" data-edit-character--item-count-param="<%= @character.pathfinder_rangeds.count %>"
            data-edit-character--item-name-param="rangeds">
              +
            </div>
          </div>
          <%= form.fields_for :pathfinder_rangeds do |form_rangeds| %>
          <div id="rangeds-<%= form_rangeds.index %>" class="space-y-3">
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :name, class: normal_label %>
                <%= form_rangeds.text_field :name, class: "#{rounded_left} #{normal_field} #{write_only}" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :types, class: normal_label %>
                <%= form_rangeds.select :types, types_weapon, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <div class="<%= normal_label %> opacity-0">0</div>
                <div class="<%= delete_item %>" data-action="click->edit-character--item#remove" data-edit-character--item-id-param="<%= form_rangeds.index %>"
                data-edit-character--item-name-param="rangeds">
                  -
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :qty, class: normal_label %>
                <%= form_rangeds.number_field :qty, class: "#{rounded_left} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :die, class: normal_label %>
                <%= form_rangeds.select :die, dice, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :weapon_specialization, "w. spec.", class: normal_label %>
                <%= form_rangeds.number_field :weapon_specialization, class: "#{rounded_none} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :proficiency, class: normal_label %>
                <%= form_rangeds.select :proficiency, proficiencies, {}, class: "#{normal_field} #{normal_select} #{rounded_none}" %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :item, class: normal_label %>
                <%= form_rangeds.text_field :item, class: "#{rounded_right} #{normal_field} #{write_only}", value: 0 %>
              </div>
            </div>
            <div class="flex">
              <div class="flex-1">
                <%= form_rangeds.label :multiple_attack_penalty_2, class: normal_label %>
                <%= form_rangeds.text_field :multiple_attack_penalty_2, class: "#{rounded_left} #{normal_field} #{write_only}", value: 0 %>
              </div>
              <div class="flex-1">
                <%= form_rangeds.label :multiple_attack_penalty_3, class: normal_label %>
                <%= form_rangeds.text_field :multiple_attack_penalty_3, class: "#{rounded_right} #{normal_field} #{write_only}", value: 0 %>
              </div>
            </div>
            <div class="w-32">
              <%= form_rangeds.label :special, class: normal_label %>
              <%= form_rangeds.number_field :special, class: "#{normal_field} #{write_only}", value: 0 %>
            </div>
            <div>
              <%= form_rangeds.label :other, class: normal_label %>
              <%= form_rangeds.text_field :other, class: "#{normal_field} #{write_only}" %>
            </div>
            <div>
              <%= form_rangeds.label :traits, class: normal_label %>
              <%= form_rangeds.text_field :traits, class: "#{normal_field} #{write_only}" %>
            </div>
            <div>
              <%= form_rangeds.label :notes, class: normal_label %>
              <%= form_rangeds.text_area :notes, class: "#{normal_field} #{write_only}" %>
            </div>
            <%= form_rangeds.check_box :_destroy, class: "hidden" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>