<div class="card my-5">
  <div class="card-header">
    <h4><%= t("character.offense.title")%></h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% character_json["meleeStrikes"].each do |melee| %>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" role="button">
          <div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.weapon")%></span>
              <span class="col-9 ms-3 text-truncate"><%= melee["weapon"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.attack")%></span>
              <span class="col-9 ms-3 text-truncate">+<%= attackRoll(melee) %></span>
            </div>
          </div>
          <div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.damage")%></span>
              <span class="col ms-3"><%= melee["dice"] %></span>
            </div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.type")%></span>
              <span class="col ms-3"><%= melee["types"] %></span>
            </div>
          </div>
          <div class="row">
          </div>
        </li>
      <% end %>
    </ul>
    <ul class="list-group mt-4">
      <% character_json["rangedStrikes"].each do |ranged| %>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" role="button">
          <div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.weapon")%></span>
              <span class="col-9 ms-3 text-truncate"><%= ranged["weapon"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.attack")%></span>
              <span class="col-9 ms-3 text-truncate">+<%= attackRoll(ranged) %></span>
            </div>
          </div>
          <div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.damage")%></span>
              <span class="col ms-3"><%= ranged["dice"] %></span>
            </div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.type")%></span>
              <span class="col ms-3"><%= ranged["types"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger"><%= t("character.offense.range")%></span>
              <span class="col-9 ms-3 text-truncate"><%= ranged["range"] %><%= t("character.feet")%></span>
            </div>
          </div>
          <div class="row">
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>