<div class="card my-5">
  <div class="card-header">
    <h3 class="">Skills</h3>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item" role="presentation"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#card-div-skills-<%= character_json["details"]["name"]%>" aria-controls="skills" type="button" aria-selected="true" role="tab">Skills</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-skillFeats-<%= character_json["details"]["name"]%>" aria-controls="skillFeats" type="button" aria-selected="false" role="tab" tabindex="-1">Skill Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-ancestryFeatsAndAbilities-<%= character_json["details"]["name"]%>" aria-controls="ancestryFeatsAndAbilities" type="button" aria-selected="false" role="tab" tabindex="-1">Ancestry Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-classFeatsAndAbilities-<%= character_json["details"]["name"]%>" aria-controls="classFeatsAndAbilities" type="button" aria-selected="false" role="tab" tabindex="-1">Class Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-generalFeats-<%= character_json["details"]["name"]%>" aria-controls="generalFeats" type="button" aria-selected="false" role="tab" tabindex="-1">General Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-bonusFeats-<%= character_json["details"]["name"]%>" aria-controls="bonusFeats" type="button" aria-selected="false" role="tab" tabindex="-1">Bonus Feats</button></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div id="card-div-skills-<%= character_json["details"]["name"]%>" class="tab-pane fade active show" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["skills"].each do |skill| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= skill["name"]%></span>
              <span><%= getSkillModifier(skill, character_json["ability"]) %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-skillFeats-<%= character_json["details"]["name"]%>" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["skillFeats"].each do |skillFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= skillFeat["name"]%></span>
              <span>Level: <%= skillFeat["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-ancestryFeatsAndAbilities-<%= character_json["details"]["name"]%>" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["ancestryFeatsAndAbilities"].each do |ancestryFeatAndAbility| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= ancestryFeatAndAbility["name"]%></span>
              <span>Level: <%= ancestryFeatAndAbility["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-classFeatsAndAbilities-<%= character_json["details"]["name"]%>" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["classFeatsAndAbilities"].each do |classFeatAndAbility| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= classFeatAndAbility["name"]%></span>
              <span>Level: <%= classFeatAndAbility["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-generalFeats-<%= character_json["details"]["name"]%>" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["generalFeats"].each do |generalFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= generalFeat["name"]%></span>
              <span>Level: <%= generalFeat["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-bonusFeats-<%= character_json["details"]["name"]%>" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["bonusFeats"].each do |bonusFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= bonusFeat["name"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
