<div id="npc_enemy" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800" data-controller="adventure--add-remove show-character--life">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M2 22a8 8 0 1 1 16 0H2zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm7.363 2.233A7.505 7.505 0 0 1 22.983 22H20c0-2.61-1-4.986-2.637-6.767zm-2.023-2.276A7.98 7.98 0 0 0 18 7a7.964 7.964 0 0 0-1.015-3.903A5 5 0 0 1 21 8a4.999 4.999 0 0 1-5.66 4.957z" /></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Npc and Enemy
    </h1>
  </div>
  <div class="px-3 mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex overflow-auto -mb-px text-sm font-medium text-center" id="npcEnemyTab" data-tabs-toggle="#npcEnemyTabContent" role="tablist">
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="npc-tab" data-tabs-target="#npc-body" type="button" role="tab" aria-controls="npc-body" aria-selected="true">Npc</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="enemy-tab" data-tabs-target="#enemy-body" type="button" role="tab" aria-controls="enemy-body" aria-selected="false">Enemy</button>
      </li>
    </ul>
  </div>
  <div id="npcEnemyTabContent">
    <div class="" id="npc-body" role="tabpanel" aria-labelledby="npc-tab">
      <div class="flex flex-row-reverse p-6">
        <button class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" data-modal-toggle="npcModal">
          Add Npc
        </button>
      </div>
      <div class="space-y-6 pb-3" id="npc">
      </div>
    </div>
    <!--  -->
    <div class="" id="enemy-body" role="tabpanel" aria-labelledby="enemy-tab">
      <div class="flex flex-row-reverse p-6">
        <button class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" data-modal-toggle="enemyModal">
          Add Enemy
        </button>
      </div>
      <div class="space-y-6 pb-6" id="enemy">
      </div>
    </div>
  </div>
</div>
<!-- Turbo stream -->
<% @adventure_participations.each do |participation| %>
  <%= turbo_stream.append participation.character_category.name.downcase do %>
    <%= render partial: "adventures/participation", locals: {participation: participation} %>
  <% end %>
<% end %>

<% @npc_and_enemy.each do |character| %>
  <%= turbo_stream.append "#{character.character_category.name.downcase}-modal" do %>
    <% any = @adventure_participations.any? { |participation| participation.character == character } %>
    <div>
      <h2 class="text-center text-xl">
        <%= character.pathfinder_basic.name %>
      </h2>
      <%= image_tag character.character_image, class: "rounded-full" if character.character_image.attached? %>

      <%= button_to "Remove", adventure_participation_path, method: :delete, params: {character_id: character, adventure_id: @adventure}, data: {action: "remove", character: character.id, category: character.character_category.name.downcase }, form: {id: "form-remove-#{character.id}", class: "#{"hidden" unless any}"} %>
    
      <%= button_to "Add", adventure_participation_path, params: {character_id: character, adventure_id: @adventure}, data: {action: "add", character: character.id, category: character.character_category.name.downcase }, form: {id: "form-add-#{character.id}", class: "#{"hidden" if any}"} %>
    </div>
  <% end %>
<% end %>

<!-- Main modal -->
<div id="enemyModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Enemies
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="enemyModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6" id="enemy-modal">
      </div>
    </div>
  </div>
</div>
<div id="npcModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Npcs
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="npcModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-3 gap-4" id="npc-modal">
        </div>
      </div>
    </div>
  </div>
</div>