<div class="col-4 row mb-3">
	<div class="text-center col-12">
		<%= image_tag character.character_image, size: 90, class: "rounded-circle" if character.character_image.attached? %>
	</div>
	<span class="col-12 text-center fs-6 fw-semibold">
		<%= character.name %>
    </span>
	<%= turbo_frame_tag dom_id(character, :button), class: "col text-center" do %>
    	<% if added %>
			<%= button_to "Remove", destroy_adventure_participation_path(id: adventure_id, character_id: character.id), method: :delete, class: "btn btn-primary btn-sm" %>
		<% else %>
			<%= button_to "Add", create_adventure_participation_path(id: adventure_id), params: { adventure_participation:{ character_id: character.id }}, class: "btn btn-primary btn-sm" %>
		<% end %>
	<% end %>
</div>