<% content_for :dropdown_navbar do %>
  <%= render(Dropdown::NavbarComponent.new(
    name: @adventure.name,
    paths: current_user.adventures.map do |a|
      {
        id: a.id,
        name: a.name,
        current: @adventure == a,
        show_path: adventure_path(a)

      }
    end,
    new_path: new_adventure_path,
    edit_path: edit_adventure_path(@adventure),
    delete_path: adventure_path(@adventure)
  )) %>
<% end %>

<div class="container mx-auto flex justify-center mt-32">
  <div class="p-4 w-full max-w-sm bg-white border border-gray-200 shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 rounded-lg md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h2 class="mb-6 text-xl font-medium text-gray-900 dark:text-white">Edit Adventure</h2>
    <%= form_with model: @adventure, url: adventure_path, method: :put, html: {autocomplete: "off"}, data: {turbo:false} do |form| %>
      <div class="mb-6">
        <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <%= form.submit "Update", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-6" %>
    <% end %>
  </div>
</div>
