<h1 class="fw-bold text-secondary text-center"><%= t(:"create adventure") %></h1>
<%= form_with model: @adventure, url: adventures_path, data: {turbo: false} do |form| %>
	<% @adventure.errors.full_messages.each do |message| %>
		<div class="alert alert-warning" role="alert">
			<%= message %>
		</div>
	<% end %>

	<div class="mb-3">
		<%= form.label :name, t(:name), class: "form-label" %>
		<%= form.text_field :name, class: "form-control" %>
	</div>

	<div class="mb-3">
		<%= form.label :password, t(:password), class: "form-label" %>
		<%= form.text_field :password, class: "form-control" %>
	</div>

	<div class="text-end">
		<%= form.submit t(:create), class: "btn btn-success" %>
	</div>
<% end %>
