<h1>Create Adventure</h1>
<br>

<%= form_with model: @adventure, url: adventures_path do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label "Password", :password %>
	<%= form.text_field :password%>

	<%= form.submit "Create adventure" %>
<% end %>
