<h1><%= @adventure.name %></h1>
<h4>Server name :<span id="serverName"><%= @adventure.unique_name %></span></h4>
<button class="btn btn-dark" id="server">Start Server</button>

<button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNpc" aria-expanded="false" aria-controls="collapseNpc">Npc</button>
<button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnemy" aria-expanded="false" aria-controls="collapseEnemy">Enemy</button>

<% participants = get_participants @adventure %>

<%= render partial: "adventures/characters", locals: { characters: @allNpcs, adventure: @adventure, name: "Npc", participants: participants }%>

<div class="my-2"></div>

<%= render partial: "adventures/characters", locals: { characters: @allEnemies, adventure: @adventure, name: "Enemy", participants: participants }%>

<%= turbo_frame_tag "Npc" do %>
  <h3 class="border-bottom pb-2">Npc</h3>
  <% @allNpcs.each do |character| %>
    <% if participants.include? character.id %>
      <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"] } %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag "Enemy" do %>
  <h3 class="border-bottom pb-2">Enemy</h3>
  <% @allEnemies.each do |character| %>
    <% if participants.include? character.id %>
      <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"] } %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: "adventures/dice_roller" %>

<button id="saveBtn" class="btn btn-success position-fixed bottom-0 start-0 m-4" style="z-index: 99;" disabled>Save</button>

<script>
  json = <%= 
    get_life_array(@json, @allNpcs)
    get_life_array(@json, @allEnemies)
    raw @json.to_json 
  %>
</script>

<%= javascript_include_tag "character/onbeforeunload" %>
<%= javascript_include_tag "character/gm/observe" %>
<%= javascript_include_tag "character/gm/dice_roller" %>
<%= javascript_include_tag "character/life_management" %>
<%= javascript_include_tag "character/send" %>
<%= javascript_include_tag "channels/gm_channel", type: :module, crossorigin: "anonymous" %>