<% participants = get_participants @adventure %>

<% @characters.each do |character| %>
  <% if character.character_category_id == 2 %>
    <% if participants.include? character.id %>
      <%= turbo_stream.append "Enemy" do %>
        <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"] } %>
      <% end %>
    <% end %>
    <%= turbo_stream.append "collapse-body-enemy" do %>
      <%= render partial: "adventures/participante_character", locals: { character: character, adventure_id: @adventure.id, added: participants.include?(character.id) } %>
    <% end %>

  <% elsif character.character_category_id == 3 %>
    <% if participants.include? character.id %>
      <%= turbo_stream.append "Npc" do %>
        <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"] } %>
      <% end %>
    <% end %>
    <%= turbo_stream.append "collapse-body-npc" do %>
      <%= render partial: "adventures/participante_character", locals: { character: character, adventure_id: @adventure.id, added: participants.include?(character.id) } %>
    <% end %>
  <% end %>
<% end %>

<h1 class="fw-bold text-secondary text-center"><%= @adventure.name %></h1>
<h4 class="text-center mb-5">Server name: <span id="serverName"><%= @adventure.unique_name %></span></h4>

<div class="d-flex justify-content-between m-2">
  <div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-npc" aria-expanded="false" aria-controls="collapse-npc">Npc</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-enemy" aria-expanded="false" aria-controls="collapse-enemy">Enemy</button>
  </div>

  <div class="d-flex">
    <%= link_to "Edit", edit_adventure_path(@adventure), class: "btn btn-primary mx-2" %>
    <%= button_to "Delete", adventure_path(@adventure), method: :delete, class: "btn btn-danger mx-2", data: {turbo: false} %>
  </div>
</div>

<div class="collapse" id="collapse-npc">
  <div class="card p-2">
    <div class="row justify-content-center" id="collapse-body-npc">
    </div>
  </div>
</div>

<div class="my-2"></div>

<div class="collapse" id="collapse-enemy">
  <div class="card p-2">
    <div class="row justify-content-center" id="collapse-body-enemy">
    </div>
  </div>
</div>

<%= turbo_frame_tag "Npc" do %>
  <h3 class="border-bottom pb-2">Npc</h3>
<% end %>

<%= turbo_frame_tag "Enemy" do %>
  <h3 class="border-bottom pb-2">Enemy</h3>
<% end %>

<div id="player">
  <h3 class="border-bottom pb-2">Player</h3>
</div>

<div id="offcanvas-mix">
</div>

<%= render partial: "adventures/dice_roller" %>

<button id="saveBtn" class="btn btn-success position-fixed bottom-0 start-0 m-4" style="z-index: 99;" disabled>Save</button>

<div class="position-fixed bottom-0 end-0 m-4">
  <button class="btn btn-dark" id="startServer">Start Server</button>
  <button class="d-none" id="stopServer">Stop Server</button>
</div>

<script>
  json = <%=
    json = get_life_array(@characters)
    raw json.to_json 
  %>
</script>

<%= javascript_include_tag "character/onbeforeunload" %>
<%= javascript_include_tag "character/gm/modal_dice_roller" %>
<%= javascript_include_tag "character/life_management" %>
<%= javascript_include_tag "character/send" %>
<%= javascript_include_tag "channels/gm_channel", type: :module, crossorigin: "anonymous" %>