<h1><%= @adventure.name %></h1>
<h4>Server name : <%= @adventure.unique_name %></h4>

<button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNpc" aria-expanded="false" aria-controls="collapseNpc">Npc</button>
<button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnemy" aria-expanded="false" aria-controls="collapseEnemy">Enemy</button>

<%= render partial: "adventures/characters", locals: { characters: @allNpcs, adventure: @adventure, name: "Npc" }%>

<div class="my-2"></div>

<%= render partial: "adventures/characters", locals: { characters: @allEnemies, adventure: @adventure, name: "Enemy" }%>

<%= turbo_frame_tag "Npc" do %>
  <h3 class="border-bottom pb-2">Npc</h3>
  <% @allNpcs.each do |character| %>
    <% next if character.adventure_participations.blank? %>
    <% if character.adventure_participations.first.adventure == @adventure %>
      <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"]} %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag "Enemy" do %>
  <h3 class="border-bottom pb-2">Enemy</h3>
  <% @allEnemies.each do |character| %>
    <% next if character.adventure_participations.blank? %>
    <% if character.adventure_participations.first.adventure == @adventure %>
      <%= render partial: "adventures/character", locals: {character: character, character_json: JSON.parse(character.statistic)["character"]} %>
    <% end %>
  <% end %>
<% end %>

<button id="saveBtn" class="btn btn-success position-fixed bottom-0 start-0 m-4" style="z-index: 99;" disabled>Save</button>

<script>
  json = <%= 
    get_life_array(@json, @allNpcs)
    get_life_array(@json, @allEnemies)
    raw @json.to_json 
  %>
</script>

<%= javascript_include_tag "character/onbeforeunload" %>
<%= javascript_include_tag "character/gm/observe" %>
<%= javascript_include_tag "character/life_management" %>
<%= javascript_include_tag "character/send" %>