<%= link_to "edit", edit_character_path(character), class: "btn btn-primary position-fixed bottom-0 end-0 m-4", style: "z-index: 99;", data: {turbo: false} %>

<%= render partial: "characters/offcanvas" %>

<%
  character_json = JSON.parse character.statistic
  character_json = character_json["character"]
%>

<%
  # Eu não sei como que vou refatorar isso.
  def attackRoll weapon
    modifier = weapon["weaponStrength"].to_i || weapon["weaponDexterity"].to_i
    proficiency = weapon["proficiency"].to_i
    item = weapon["item"].to_i
    attack = modifier + proficiency + item
    return attack
  end
%>

<div class="card my-5">
  <div class="card-header">
    <h4>Basics</h4>
  </div>
  <div class="card-body">
    <div id="introduce">
      <h1 id="characterName">...</h1>
      <h3 id="classAndLevel">...</h3>
      <div class="row text-center">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Iniciative</span>
          <span class="col" id="perception">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Speed</span>
          <span class="col" id="speed">...</span>
        </p>
      </div>
      <div class="row justify-content-center">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Size</span>
          <span class="col ms-2" id="size">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Ancestry</span>
          <span class="col ms-2" id="ancestry">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Heritage</span>
          <span class="col ms-2" id="heritage">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Background</span>
          <span class="col ms-2" id="background">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">Traits</span>
          <span class="col ms-2" id="traits">...</span>
        </p>
        <p class="col row">

          <span class="col-12 fw-semibold text-danger">Hero Points</span>
          <span class="col ms-2" id="heroPoints">...</span>
        </p>
        <p class="col row">
          <span class="col-12 fw-semibold text-danger">EXP</span>
          <span class="col ms-2" id="experiencePoints">...</span>
        </p>
      </div>
      <!-- <div>
        <p class="row">
          <span class="col-12 fw-semibold text-danger">Description</span>
          <span class="col ms-2">A sneaky man with a realistic outlook on life. Tall, slim build, sallow pale skin, long scruffy face, sunken cheeks, light blue wide-set eyes, bushy eyebrows.</span>
        </p>
      </div> -->
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">
    <h4>Statistics</h4>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="strength">STR ...</span>
          <span class="col " id="strengthModifier">...</span>
        </p>
      </div>
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="dexterity">DEX ...</span>
          <span class="col" id="dexterityModifier">...</span>
        </p>
      </div>
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="constitution">CON ...</span>
          <span class="col" id="constitutionModifier">...</span>
        </p>
      </div>
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="intelligence">INT ...</span>
          <span class="col" id="intelligenceModifier">...</span>
        </p>
      </div>
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="wisdom">WIS ...</span>
          <span class="col" id="wisdomModifier">...</span>
        </p>
      </div>
      <div class="col">
        <p class="col row">
          <span class="col-12 fw-semibold text-danger" id="charisma">CHA ...</span>
          <span class="col" id="charismaModifier">0</span>
        </p>
      </div>
    </div>
    <div class="row row-cols-auto">
      <span class="col-12 fw-semibold text-danger">Languages</span>
      <div class="ms-2">
        <% character_json["languages"].each do |language| %>
          <%= language["name"] %>
          /
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">
    <h4>Defense</h4>
  </div>
  <div class="card-body">
    <div class="row">
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">HP</span>
          <span class="col-8 ms-2" id="hp">...</span>
        </p>
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">Temporary HP</span>
          <span class="col-8 ms-2" id="temporary">...</span>
        </p>
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">AC</span>
          <span class="col-8 ms-2" id="ac">...</span>
        </p>
    </div>
    <div class="row">
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">Resistances and immunities</span>
          <span class="col-8 ms-2" id="resistancesAndImmunities">...</span>
        </p>
    </div>
    <div class="row">
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">Fortitude</span>
          <span class="col-8 ms-2" id="fortitude">...</span>
        </p>
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">Reflex</span>
          <span class="col-8 ms-2" id="reflex">...</span>
        </p>
        <p class="col-auto row">
          <span class="col-12 fw-semibold text-danger">Will</span>
          <span class="col-8 ms-2" id="will">...</span>
        </p>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">
    <h4>Offense</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% character_json["meleeStrikes"].each do |melee| %>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" role="button">
          <div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger">Weapon</span>
              <span class="col-9 ms-3 text-truncate"><%= melee["weapon"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger">Attack</span>
              <span class="col-9 ms-3 text-truncate">+<%= attackRoll(melee) %></span>
            </div>
          </div>
          <div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger">Damage</span>
              <span class="col ms-3"><%= melee["dice"] %></span>
            </div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger">Type</span>
              <span class="col ms-3"><%= melee["types"] %></span>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="btn">
            <i class="fa-solid fa-dice"></i>
          </div>
        </li>
      <% end %>
    </ul>
    <ul class="list-group mt-4">
      <% character_json["rangedStrikes"].each do |ranged| %>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" role="button">
          <div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger">Weapon</span>
              <span class="col-9 ms-3 text-truncate"><%= ranged["weapon"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger">Attack</span>
              <span class="col-9 ms-3 text-truncate">+<%= attackRoll(ranged) %></span>
            </div>
          </div>
          <div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger">Damage</span>
              <span class="col ms-3"><%= ranged["dice"] %></span>
            </div>
            <div class="col row">
              <span class="col-12 fw-semibold text-danger">Type</span>
              <span class="col ms-3"><%= ranged["types"] %></span>
            </div>
            <div class="row">
              <span class="col-12 fw-semibold text-danger">Range</span>
              <span class="col-9 ms-3 text-truncate"><%= ranged["range"] %>ft</span>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="btn">
            <i class="fa-solid fa-dice"></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">
    <h3 class="">Skills</h3>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item" role="presentation"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#card-div-skills" aria-controls="skills" type="button" aria-selected="true" role="tab">Skills</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-skillFeats" aria-controls="skillFeats" type="button" aria-selected="false" role="tab" tabindex="-1">Skill Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-ancestryFeatsAndAbilities" aria-controls="ancestryFeatsAndAbilities" type="button" aria-selected="false" role="tab" tabindex="-1">Ancestry Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-classFeatsAndAbilities" aria-controls="classFeatsAndAbilities" type="button" aria-selected="false" role="tab" tabindex="-1">Class Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-generalFeats" aria-controls="generalFeats" type="button" aria-selected="false" role="tab" tabindex="-1">General Feats</button></li>
      <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#card-div-bonusFeats" aria-controls="bonusFeats" type="button" aria-selected="false" role="tab" tabindex="-1">Bonus Feats</button></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div id="card-div-skills" class="tab-pane fade active show" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["skills"].each do |skill| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= skill["name"]%></span>
              <!-- Observação: isso não está correto, por que não sendo somado pelo item e nem modificador de habilidade -->
              <span>+<%= skill["proficiency"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-skillFeats" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["skillFeats"].each do |skillFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= skillFeat["name"]%></span>
              <span>Level: <%= skillFeat["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-ancestryFeatsAndAbilities" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["ancestryFeatsAndAbilities"].each do |ancestryFeatAndAbility| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= ancestryFeatAndAbility["name"]%></span>
              <span>Level: <%= ancestryFeatAndAbility["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-classFeatsAndAbilities" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["classFeatsAndAbilities"].each do |classFeatAndAbility| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= classFeatAndAbility["name"]%></span>
              <span>Level: <%= classFeatAndAbility["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-generalFeats" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["generalFeats"].each do |generalFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= generalFeat["name"]%></span>
              <span>Level: <%= generalFeat["level"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="card-div-bonusFeats" class="tab-pane fade" role="tabpanel">
      <div class="row gx-3 gy-2 align-items-center">
        <ul class="list-group list-group-flush">
          <% character_json["bonusFeats"].each do |bonusFeat| %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
              <span><%= bonusFeat["name"]%></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">
    <h4>Inventory</h4>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% character_json["inventory"].each do |inventory| %>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
          <span><%= inventory["name"] %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag "character/display/display" %>
<%= javascript_include_tag "character/display/character" %>

<script>
  const main_json = <%= raw character.statistic %>
  const character = new Character();
  const display = new Display();
</script>