<%= turbo_frame_tag "character" do %>
	<%= form_with model: character, url: character_path(character) do |form| %>
		
		<%= form.label :character_category_id %>
		<%= form.select :character_category_id, @character_categories.map { |ca| [ca.name, ca.id]}, {} %><br>

		<hr>
		<%= render partial: "characters/edit/details", locals: { character: character }%>
		<hr>
		<%= render partial: "characters/edit/ability_scores", locals: { character: character }%>
		<hr>
		<%= render partial: "characters/edit/hit_points", locals: { character: character }%>


		<%= form.hidden_field :statistic %><br>

		<div id="button">Display</div>
		<%= form.submit "Display", id: "submit", style: "display: none"%>
	<% end%>

	<script>
		character.setup()

		button.addEventListener("click", function(e) {
			character.insert_inputs_to_json();
			character_statistic.value = character.get_json_stringify();
			submit.click();
		})
	</script>
<% end %>