<% content_for :dropdown_navbar do %>
  <%= render(Dropdown::NavbarComponent.new(
    name: @character.pathfinder_basic.name,
    paths: @characters_dropdown.map do |c| 
      {
        id: c.pathfinder_basic.name,
        name: c.pathfinder_basic.name,
        current: @character == c,
        show_path: character_path(category: params[:category], id: c)
      }
    end,
    delete_path: character_path(category: params[:category], id: @character),
    edit_path: edit_character_path(category: params[:category], id: @character),
    new_path: new_character_path(category: params[:category])
  )) %>
<% end %>

<%= render(SideBarComponent.new) %>
<div class="z-0 pt-8 pb-96 md:pt-0 md:w-10/12 md:mx-auto text-black dark:text-gray-200" data-controller="edit-character--event-trigger edit-character--item">
  <%= form_with model: @character, url: character_path, method: :put, html: {"autocomplete":"off"}, data: {turbo:false} do |form| %>
    <%= render(PathfinderEdit::BasicsComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::StatisticsComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::EquipamentComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::DefenseComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::OffenseComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::SkillsComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::SpellsComponent.new(character: @character, form: form)) %>
    <%= render(PathfinderEdit::NotesComponent.new(character: @character, form: form)) %>
    <%= form.submit "Update", class:"fixed bottom-3 right-3 md:bottom-8 md:right-8 md:mr-6 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
  <% end %>
  <% content_for :head do %>
    <%= javascript_import_module_tag "cropperjs" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
      .cropper-view-box,
      .cropper-face {
        border-radius: 50%;
      }

      /* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
      .cropper-view-box {
          outline: 0;
          box-shadow: 0 0 0 1px #39f;
      }
    </style>
  <% end %>
</div>
