<h1>Create Character</h1>
<br>

<%= form_with model: @character, url: characters_path do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :character_category_id %>
	<%= form.select :character_category_id, @character_categories.map { |ca| [ca.name, ca.id]}, {}, class: "form-control" %>

	<%= form.submit "Create character" %>
<% end %>
