<div data-controller="show-character--server">
  <%= render partial: "characters/show/drawer"%>
  <%= render partial: "characters/side_bar"%>

  <div class="z-0 pt-8 pb-96 md:pt-0 md:w-10/12 md:mx-auto text-black dark:text-gray-200">
    
    <%= render partial: "characters/show/basics" %>

    <%= render partial: "characters/show/statistics" %>

    <%= render partial: "characters/show/equipament" %>

    <%= render partial: "characters/show/defense" %>

    <%= render partial: "characters/show/offense" %>
    
    <%= render partial: "characters/show/skills" %>

    <%= render partial: "characters/show/spells" %>

    <%= render partial: "characters/show/notes" %>
  </div>
</div>