<!DOCTYPE html>
<html>
  <head>
    <title>CharacterSheet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  </head>

  <body class="bg-gray-100 dark:bg-black text-black dark:text-white" data-controller="drawer">
    <% unless ["sessions", "users", "passwords", "tv"].include?(controller_name) %>
      <header class="z-20 h-15 sticky top-0">
        <%= render partial: "shared/navbar" %>
      </header>
      <%= render partial: "shared/drawer" %>
    <% end %>
    <main>
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </main>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
